section.bg-primary.text-center.d-flex.align-items-center#featured
  .container
    .row
      .col-lg-12
        h1.display-1.text-white Closer
        p.lead.text-white A smarter way for shopping
        a.btn.btn-lg.btn-secondary(href='#about') Discover
