nav.navbar.navbar-expand-md.navbar-light.bg-faded.fixed-top
  .container
    a.navbar-brand(href='#featured') Closer
    button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#main-navbar' aria-controls='main-navbar' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    .collapse.navbar-collapse.justify-content-end#main-navbar
      ul.navbar-nav
        li.nav-item: a.nav-link(href='#about') About
        li.nav-item: a.nav-link(href='#benefits') Benefits
        li.nav-item: a.nav-link(href='#pricing') Pricing
        li.nav-item: a.nav-link(href='#contact') Contact
        li.nav-item: a.nav-link(href='#blog') Blog
        li.nav-item: a.nav-link#login-signup-link(href='#' data-toggle='modal' data-target='#login-signup-modal') Login
