section.py-5.text-center#pricing
  .container
    .row
      .col-md-12.text-center
        h2.text-primary.text-uppercase.mb-4 Pricing
    .row
      .col-md-4
        .card.my-1
          .card-block.text-center
            h2 Small
            h3 10 $
          ul.list-group.list-group-flush
            li.list-group-item Cras justo odio
            li.list-group-item Dapibus ac facilisis in
            li.list-group-item Vestibulum at eros
          .card-block
            a.btn.btn-block.btn-primary(href='#') Buy
      .col-md-4
        .card
          .bg-primary.card-block
            h1.card-title.text-white Normal
            h2.text-white 20 $
          ul.list-group.list-group-flush
            li.list-group-item Cras justo odio
            li.list-group-item Dapibus ac facilisis in
            li.list-group-item Vestibulum at eros
          .card-block
            a.btn.btn-block.btn-lg.btn-primary(href='#') Buy
      .col-md-4
        .card.my-1
          .card-block.text-xs-center
            h2.card-title Large
            h3 30 $
          ul.list-group.list-group-flush
            li.list-group-item Cras justo odio
            li.list-group-item Dapibus ac facilisis in
            li.list-group-item Vestibulum at eros
          .card-block
            a.btn.btn-block.btn-primary(href='#') Buy
