section.py-5.bg-primary.text-center#sec-social
  .container: .row
    .col: a(href='#'): i.fa.fa-3x.fa-fw.fa-facebook.text-white
    .col: a(href='#'): i.fa.fa-3x.fa-fw.fa-twitter.text-white
    .col: a(href='#'): i.fa.fa-3x.fa-fw.fa-instagram.text-white
