section.py-5.section.text-center.bg-primary#testimonials
  .container
    .row
      .col-md-12
        p.lead.text-white 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.'
        p.lead.text-white.my-0: strong Someone Famous
        p.text-white Some Company
