nav.navbar.navbar-expand-md.navbar-light.bg-faded.fixed-top
  .container
    a.navbar-brand(href='#dashboard') Closer - Dashboard
    button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#main-navbar' aria-controls='main-navbar' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    .collapse.navbar-collapse.justify-content-end#main-navbar
      ul.navbar-nav
        li.nav-item: a.nav-link#logout-link(href='#') Logout
