body
  display flex
  flex-direction column
  min-height 100vh

main
  flex 1

#loading-div
  background-color white
  height 100%
  left 0
  position absolute
  top 0
  width 100%
  z-index 1

  img
    left 50%
    max-width 75px
    position absolute
    text-align center
    top 50%
    transform translate(-50%, -50%)
    width 100%
