extends templates/layout.pug

block navbar
  include includes/index/navbar.pug

block content
  include includes/index/featured_section.pug
  include includes/index/about_section.pug
  include includes/index/social_section.pug
  include includes/index/benefits_section.pug
  include includes/index/testimonials_section.pug
  include includes/index/pricing_section.pug
  include includes/index/contact_section.pug
  include includes/index/blog_section.pug

  include includes/index/login_signup_modal.pug
